//Fonts
$font-family-stack: 'Raleway',
sans-serif;
$font-weight-thin:100;
$font-weight-light:300;
$font-weight-reg: 400;
$font-weight-med: 500;
$font-weight-bold:700;
//Colors
$primary-font-color:#000;
$secondary-font-color:#888;
$card-border-color:#e6e6e6;
$card-shadow-color:#e8e8e8;
//Breakpoints
$screen-xs:320px;
$screen-sm:375px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;