.card {
    border: 1px solid $card-border-color;
    height: 150px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 2px $card-shadow-color;
    @include flexbox(row, space-between, center);
    margin: 5px 0;
    @media (min-width: $screen-md) {
        margin: 0;
    }
    padding:5px;
}

.img-container {
    width: 40%;
    height: 100%;
    text-align: center;
    @include flexbox(row, center, center);
}

.info-container {
    width: 60%;
    overflow-x: auto;
}

.profile-pic {
    height: 75%;
    width: 75%;
    border-radius: 50%;
    @media (max-width: $screen-xs) {
        max-height: 75px;
        max-width: 75px;
    }
}

.employee-name {
    font-weight: $font-weight-bold;
    font-size: 1.2rem;
}

.email,
.city {
    font-weight: $font-weight-light;
    color: $secondary-font-color;
    margin: 8px 0;
    font-size: 0.9rem;
    @media (max-width: 320px) {
        margin: 5px 0;
        font-size: 0.8rem;
    }
}